.btn-legel{
    height: 64px;
    border-radius: 8px;
    background: #B68C5A;;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding:15px;
}
.legel-color{
    color: #B68C5A;
}
.banner{
    background-image: url('images/banner.png');
background: linear-gradient(180deg, #111111 0%, rgba(17, 17, 17, 0) 100%), url('images/banner.png');
    height: 550px;
    width:auto;
}
.li-legel{
    list-style: none;
}